HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/template-fe/node_modules/
template-service/.mvn/
mvnw.cmd
mvnw
template-restful/.mvn/wrapper/maven-wrapper.jar
template-restful/.mvn/wrapper/MavenWrapperDownloader.java
template-restful/.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/MavenWrapperDownloader.java
template-restful/.gitignore
template-service/.gitignore
